# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Each line is a file pattern followed by one or more owners.

# global catch call if not 
*       @lattice/quda_core

# CMake Maintainers
CMakeLists.txt @lattice/cmake_maintainers
*.cmake @lattice/cmake_maintainers

# CUDA Maintainers
cuda/   @lattice/target_cuda_maintainers

# HIP Maintainers
hip/    @lattice/target_hip_maintainers

# SYCL Maintainers
sycl/   @lattice/target_sycl_maintainers

