nx      		8
ny      		8
nz      		8
nt      		96
kappa   		0.05633
dslash_type             CLOVER
csw			1
if_anisotropic		1
Vlight			0.710
Us			0.4090
Xsi			5
multi_shift	  	0
iflag_read_gauge 	2
latfile			/vol-th/home/cheny/JianLiang/cfg_fix/col
ifsmear			0
iconf_st		2
iconf_ed		4
iconf_in		1
gauge_format		2
cuda_prec_sloppy        SINGLE
inversemethod		CG
index			0
index			0
index			0
index			0
prop_path		./result/
tsource_st		0
tsource_in 		48 
zsource_st		0
zsource_in 		8
ysource_st		0
ysource_in 		8
xsource_st		0
xsource_in 		8
source_type		3
N_smear			0
k_smear			0.25
if_seq			0
dr_st			0
dr_ed			4
p_st			0
p_ed			0
ifverbose 		1
ifC 			0
ifB 			0

if_seq			0
time_seq		25
