[project]
	description = QUDA is a library for performing calculations in lattice QCD on GPUs.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mathias Wagner (mathiaswagner)
[access "refs/for/refs/*"]
	read = group user/Mathias Wagner (mathiaswagner)
	push = group user/Mathias Wagner (mathiaswagner)
	label-Code-Review = -2..+2 group user/Mathias Wagner (mathiaswagner)
	label-Verified = -1..+1 group user/Mathias Wagner (mathiaswagner)
	rebase = group user/Mathias Wagner (mathiaswagner)
	removeReviewer = group user/Mathias Wagner (mathiaswagner)
	submit = group user/Mathias Wagner (mathiaswagner)
[access "refs/heads/*"]
	read = group user/Mathias Wagner (mathiaswagner)
	create = group user/Mathias Wagner (mathiaswagner)
	push = +force group user/Mathias Wagner (mathiaswagner)
	pushMerge = group user/Mathias Wagner (mathiaswagner)
[access "refs/tags/*"]
	push = +force group user/Mathias Wagner (mathiaswagner)
	pushTag = group user/Mathias Wagner (mathiaswagner)
	pushSignedTag = group user/Mathias Wagner (mathiaswagner)
